# Python関連
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/

# IDE関連
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 環境設定や機密情報
.env
*.env
*.local

# Mac関連
.DS_Store

# Logファイル
*.log

# Renderなどで自動生成されるデプロイファイル
*.pid
*.tmp
*.swp
*.swo
